@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Tahoma, Geneva, Verdana, sans-serif;
}


/* Hero section */

.section-1 {
    background-color: #1f2937;
}

.page-max-width {
    max-width: 950px;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 15px 150px;
    padding-bottom: 100px;
    gap: 50px;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
}

.link-text, .subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-main-text {
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
}

.hero-text-container {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.photo-placeholder {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-text-hero, .right-text-hero {
    flex-basis: 50%;
}

.button {
    padding: 8px 32px;
    border-radius: 8px;
    background: #3882f6;
    border: 1px solid #3882f6;
    color: #f9faf8;
    margin-top: 10px;
}

/* Information section*/

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: auto;

    padding: 50px 150px 100px;
    /*margin-bottom: 100px;*/
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.info-body {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 170px;
}

.info-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

/* Quote section */

.section-3 {
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}